--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.0 ; platform_system == "Linux"
torchvision==0.19.0 ; platform_system == "Linux"

accelerate==1.1.1
deepspeed==0.14.4 ; platform_system == "Linux"
einops==0.8.0
transformers==4.43.3
huggingface-hub
diffusers==0.30.1
sentencepiece==0.2.0
gradio==5.22.0
hf-transfer
huggingface_hub
